<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="My_ID" value="Client1" />
    <add key="My_Key" value="C1111111" />
    <add key="My_IPAddress" value="127.0.1.1" />
    <add key="My_SKeyFile" value="..\\..\\KeyFiles\\Client1.sk" />
    <add key="AS_ID" value="AS" />
    <add key="AS_IPAddress" value="127.0.0.1" />
    <add key="AS_Port" value="8081" />
    <add key="AS_PKeyFile" value="..\\..\\KeyFiles\\AS.pk" />
    <add key="TGS_ID" value="TGS" />
    <add key="TGS_IPAddress" value="127.0.0.1" />
    <add key="TGS_Port" value="8082" />
    <add key="TGS_PKeyFile" value="..\\..\\KeyFiles\\TGS.pk" />
    <add key="V_ID" value="CUV" />
    <add key="V_IPAddress" value="127.0.0.1" />
    <add key="V_Port" value="8084" />
    <add key="V_PKeyFile" value="..\\..\\KeyFiles\\V.pk" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>