<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <appSettings>
        <add key="My_ID" value="Client1"/>
        <add key="My_Key" value="C1111111"/>
        <add key="My_IPAddress" value="127.0.1.1"/>
        
        <add key="AS_ID" value="AS"/>
        <add key="AS_IPAddress" value="127.0.0.1"/>
        <add key="AS_Port" value ="8081"/>
        
        <add key="TGS_ID" value="TGS"/>
        <add key="TGS_IPAddress" value="127.0.0.2"/>
        
        <add key="VId" value="CUV"/>
        <add key="V_IPAddress" value="127.0.0.3"/>
    </appSettings>
</configuration>