<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <appSettings>
      <add key="MyId" value="Client1"/>
      <add key="MyKey" value="12345678"/>
      <add key="KeyFilePath" value="..\..\KeyFile\"/>
    </appSettings>
</configuration>